* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app_header{
  background-color: #fafafa;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}